@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #040716;
}

#gameSettings-form{
    background-color: #190B39;
    width: 1200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    border-radius: 15px;
    color: #FFFFFF;

    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.modes{
    display: flex;
    gap: 2rem;
    align-items: center;

}

.radio{
    display: none;
}

.title{
    margin-right: 2rem;
}

#score:checked ~ .mode-label,
#time:checked ~ .mode-label
{
    background-color: #8056DE;
    color: white;
}

.options{
    display: flex;
    gap: 3rem;
}

.mode-label{
    background-color: none;
    border: 1px solid #8056DE;
    padding: 20px 70px;
    border-radius: 8px;
    cursor: pointer;
    color:#8056DE;
    font-weight: bold;
}

.counts{
    display: flex;
    gap: 2rem;
    align-items: center;
}

#counts{
    width: 65%;
    height: 10px;
    outline: none;
    background: #EEEEEE;
    -webkit-appearance: none;
    border-radius: 15px;
}

#counts::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background:#FFFFFF;
    border: 6px solid #6A38DC;
}

.texture{
    display: flex;
    gap: 2rem;
    align-items: center;
}

#popular:hover{
    background-image: url('./basket.png');

}
#special:hover{
    background-image: url('./tennis.png');

}
#default:hover{
    background-color: white;

}