<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
    <link href="./style.css" rel="stylesheet">
</head>

<body>

    <form id="tournam-regist">
        <div class="player-set">

            <input name="player1" class="player-name">
            <p>VS</p>
            <input name="player2" class="player-name">
        </div>
        <div class="player-set">
            <input name="player3" class="player-name">
            <p>VS</p>
            <input name="player4" class="player-name">
        </div>

        <button id="start" type="submit">Start</button>

    </form>
    <script>
        form = document.getElementById("tournam-regist")
        form.addEventListener('submit', (e) => {
            e.preventDefault()
            let data = new FormData(form);
            let gameOptions = Object.fromEntries(data)
            form.remove()
        })
    </script>
</body>


</html>