<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
    <link href="./style.css" rel="stylesheet">
</head>

<body>

    <form id="gameSettings-form">
            <h3>Game settings</h3>
            <div class="modes">
                <p class="title">modes</p>
                <div class="options">

                    <div class="option">
                        
                        <input type="radio" name="mode" value="score" class="radio" id="score">
                        <label for="score" class="mode-label">Score</label>
                    </div>
                    
                    <div class="option">
                        
                        <input type="radio" name="mode" value="time"  class="radio" id="time" checked>
                        <label for="time" class="mode-label">Time</label>
                    </div>
                </div>
            </div>

            <div class="counts">
                
                <span class="title">seconds</span>
                <input type="range" name="range" id="counts">
            </div>

            <div class="texture">
                <p class="title"> texture</p>
                <div class="options">

                    <div class="option">
                        <input type="radio" class="radio">
                        <label class="mode-label " id="default"> default</label>
                    </div>
                    <div class="option">
                        <input type="radio" class="radio">
                        <label class="mode-label" id="special"> special</label>
                    </div>
                    <div class="option">
                        <input type="radio" class="radio">
                        <label class="mode-label" id="popular"> popular</label>
                    </div>
                    
                </div>
            </div>

            <!-- <div class="texture">
                <p class="title">background</p>
                <input type="radio" class="radio">
                <input type="radio" class="radio">
                <input type="radio" class="radio">

            </div> -->

        <button id="start" type="submit">Start</button>

    </form>
    <script>
    </script>
</body>


</html>