{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MultiPlayer</title>
	<link rel="stylesheet" href="{% static '/css/style.css' %}">
	<style>

	</style>

</head>
<body>

	<main id="canva">

		<h1 id='game'></h1>

		<div id="scores">
			<h2 id="player_score">0</h2>
			<h2 id="other_score">0</h2>
		</div>

		<button id="play">INVITE!</button>
		<button id="multi">MULTI!</button>

		<script type="module"  >
			import * as INVITE from  "{% static '/js/game.js' %}"
			import * as MULTI from  "{% static '/js/multiPlayer.js' %}"

			let playBtn = document.getElementById("play");
			let multiBtn = document.getElementById("multi");
			
			playBtn.addEventListener("click", INVITE.start);
			multiBtn.addEventListener("click", MULTI.start);
			</script>
			
			
	</main>
</body>
</html>