{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="shortcut icon" href="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
	<title>Game</title>
	<link rel="stylesheet" href="{% static '/css/style.css' %}">

</head>
<body>

	<main id="canva">

		<h1 id='game'></h1>
		<div class="scores">
			<h2 id="player_score"> YOU </h2>
			<h2 id="other_score"> OTHER </h2>
		</div>
			<button id="play">Play!</button>

		<script type="module"  src="{% static '/js/game.js' %}">
			</script>
			
			
	</main>
</body>
</html>