{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="shortcut icon" href="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
	<title>Game</title>

</head>
<body>
	<main id="canva">
		<script  type='module'>

			import * as THREE from 'https://cdnjs.cloudflare.com/ajax/libs/three.js/0.167.0/three.module.js'
			import { OrbitControls } from 'https://cdn.skypack.dev/three@0.129.0/examples/jsm/controls/OrbitControls.js';

			let url = `ws://${window.location.host}/ws/socket-server/`
			const chatSocket = new WebSocket(url)
			


			let camera = new THREE.PerspectiveCamera( 75, window.innerWidth/window.innerHeight, 0.1, 1000 );
			camera.position.z = 5;
			camera.position.y = 1;
			
			// RENDER
			const renderer = new THREE.WebGLRenderer(  );
			renderer.setSize( window.innerWidth, window.innerHeight  );
			renderer.shadowMap.enabled = true;
			document.body.appendChild( renderer.domElement )
			renderer.setAnimationLoop( animation );
			
			
			// SCENE
			const scene = new THREE.Scene(  );
			
			let ball, player, otherPlayer, plane;
			
			//PLANE
			plane = new THREE.Mesh(new THREE.BoxGeometry( 3, .2, 5 ), new THREE.MeshLambertMaterial( { color:0x005599 } ))
			
			// 	BALL
			ball = new THREE.Mesh( new THREE.SphereGeometry( .2, 32, 15 ), new THREE.MeshLambertMaterial( { color:0xff14ff} ))
			
			// PLAYER
			player = new THREE.Mesh(new THREE.BoxGeometry( 1, .3, .3 ), new THREE.MeshLambertMaterial( { color:0xffffff } ))
			
			
			//OTHERPLAYER
			otherPlayer =  new THREE.Mesh(new THREE.BoxGeometry( 1, .3, .3 ), new THREE.MeshLambertMaterial( { color:0x005500 } ))

			// ORBIT CONTROLER
			const orbit = new OrbitControls( camera, renderer.domElement )

			// HELPER
			const axesHelper = new THREE.AxesHelper(  5  );
			
			// LIGHT
			const light = new THREE.DirectionalLight(  0xffffff, 6  );
			light.castShadow = true
			light.position.y = 5;
			light.position.z = 5;
			
			
			// SCENE
			scene.add(  light  );
			scene.add(  axesHelper  );
			scene.add(  plane );
			scene.add(  player );
			scene.add(  otherPlayer );
			scene.add(  ball );
			
			
			// ANIMATION LOOP

			function animation(  ){ 
				renderer.render( scene, camera );
				chatSocket.onmessage = function(e){
					let data = JSON.parse(e.data)

					ball.position.set(data['ball']['position'][0], data['ball']['position'][1],data['ball']['position'][2])
					
					{% comment %} player.position.set(data['player']['position'][0], data['player']['position'][1],data['player']['position'][2])
					otherPlayer.position.set(data['otherPlayer']['position'][0], data['otherPlayer']['position'][1],data['otherPlayer']['position'][2]) {% endcomment %}
			
				}
			 }
		</script>
	</main>
</body>
</html>