<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="shortcut icon" href="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
	<title>Game</title>

</head>
<body>

	<main id="canva">

		<h1 id='game'></h1>
		<div id='messages'></div>


		<script  type='module'>
			import * as THREE from 'https://cdn.jsdelivr.net/npm/three@0.167.1/+esm'


			let url = `ws://${window.location.host}/ws/game/`
			const gameSocket = new WebSocket(url)
			
			gameSocket.onopen = function(e){
				console.log("CONECTION ESTABLISHED")
			}
			
			gameSocket.onmessage = function(e){
				let msg = JSON.parse(e.data)
				console.log(msg['data']);
			}
			const scene = new THREE.Scene();
const camera = new THREE.PerspectiveCamera( 75, window.innerWidth / window.innerHeight, 0.1, 1000 );

const renderer = new THREE.WebGLRenderer();
renderer.setSize( window.innerWidth, window.innerHeight );
renderer.setAnimationLoop( animate );
document.body.appendChild( renderer.domElement );

const geometry = new THREE.BoxGeometry( 1, 1, 1 );
const material = new THREE.MeshBasicMaterial( { color: 0x00ff00 } );
const cube = new THREE.Mesh( geometry, material );
scene.add( cube );

camera.position.z = 5;

function animate() {

	cube.rotation.x += 0.01;
	cube.rotation.y += 0.01;

	renderer.render( scene, camera );

}
		</script>


	</main>
</body>
</html>